In [1]:
import warnings
warnings.filterwarnings(action='ignore')

import mlxtend #apiori알고리즘 관련 라이브러리
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [2]:
data = np.array([
    ['우유', '기저귀', '쥬스'],
    ['양상추', '기저귀', '맥주'],
    ['우유', '양상추', '기저귀', '쥬스'],
    ['양상추', '맥주']
])

In [3]:
te = TransactionEncoder()

In [4]:
te_ary = te.fit(data).transform(data)

In [5]:
print(te_ary)

[[ True False False  True  True]
 [ True  True  True False False]
 [ True False  True  True  True]
 [False  True  True False False]]

In [6]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True  False   True   True   True
3  False   True   True  False  False

In [7]:
from mlxtend.frequent_patterns import apriori

In [8]:
result = apriori(df, min_support=0.5, use_colnames=True)
result

    support       itemsets
0      0.75          (기저귀)
1      0.50           (맥주)
2      0.75          (양상추)
3      0.50           (우유)
4      0.50           (쥬스)
5      0.50     (기저귀, 양상추)
6      0.50      (기저귀, 우유)
7      0.50      (기저귀, 쥬스)
8      0.50      (양상추, 맥주)
9      0.50       (우유, 쥬스)
10     0.50  (기저귀, 우유, 쥬스)

In [9]:
# 주스+우유를 함께 산 사람에게 추천을 해준다면,
# 맥주보다는 기저귀를 우선해야함
# 지지도 기반으로 판단!

In [10]:
apriori(df, min_support=0.7, use_colnames=True)

   support itemsets
0     0.75    (기저귀)
1     0.75    (양상추)

In [11]:
# one-hot 인코딩 방식의 테이블이 필요!!
# 실제로는 물건의 개수가 아주 많음
# 0이 많은 2차원 데이터: 희소행렬(spase matrix)
# TF-IDF, Counter-Vectorizor, TransactionEncoder

In [12]:
type(result)

pandas.core.frame.DataFrame

In [13]:
# result에서 마지막 itemsets 컬럼값 추출
choice = result.iloc[10,:]
items = choice['itemsets']
items

frozenset({'기저귀', '우유', '쥬스'})

In [14]:
# 주스, 우유와 함께 추천하면 좋을 item은?
list(items)[2]

'쥬스'

# Word2Vec

In [15]:
from gensim.models import Word2Vec

In [16]:
# 자연어에서 특정한 단어(word)를 중심으로 앞 뒤의 단어를 유추(예측, 추론)할 때 사용됨

In [17]:
doc = [
    'you say goodbye and I say hello', 
    'i say happy or he said white',
    'we say unhappy and angry black'
]

In [18]:
doc2 = [
    '나는 굿바이라고 했고, 너는 헬로우라고 했어.', 
    '나는 기쁘다고 했고, 너는 하얗게 슬프다고 했어.',
    '우리는 행복하지 않고, 블랙으로 슬퍼'
]

In [19]:
# 문장을 토큰으로 끊어내자
sentences = [sentence.split(' ') for sentence in doc]
sentences

[['you', 'say', 'goodbye', 'and', 'I', 'say', 'hello'],
 ['i', 'say', 'happy', 'or', 'he', 'said', 'white'],
 ['we', 'say', 'unhappy', 'and', 'angry', 'black']]

In [20]:
# 문장을 토큰으로 끊어내자
sentences2 = [sentence.split(' ') for sentence in doc2]
sentences2

[['나는', '굿바이라고', '했고,', '너는', '헬로우라고', '했어.'],
 ['나는', '기쁘다고', '했고,', '너는', '하얗게', '슬프다고', '했어.'],
 ['우리는', '행복하지', '않고,', '블랙으로', '슬퍼']]

In [21]:
# 특정 단어의 앞뒤 단어 유추 가능
# window: 유추하는 계산을 할 때 특정 단어의 앞뒤 몇 개를 가지고 계산을 할지의 단위
# min_count: 특정한 pattern의 출현 횟수
model = Word2Vec(window=1, min_count=1)