In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dates = pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
np.random.randn(6, 4) # 6행 4열인 ndarray 생성

array([[-0.82706064,  2.66128717,  0.12633304,  0.60217543],
       [ 1.21431181,  1.26801784,  0.05430281, -0.87857129],
       [ 0.1679484 ,  1.06245588, -0.2172221 , -0.19625391],
       [-0.98337331, -1.83350063,  0.65660524, -1.02491981],
       [ 1.20641289,  1.2095999 ,  0.99009623, -0.79555613],
       [-1.55141784,  1.10127968, -0.72776431,  1.30758344]])

In [ ]:
df = pd.DataFrame(data = np.random.randn(6, 4), columns=['A','B','C','D'])
# df = pd.DataFrame(ndarray(values), columns=['컬럼명','컬럼명'])
df

          A         B         C         D
0 -1.253925  0.178826 -0.251966  0.326976
1 -0.110785  0.596254 -0.759679 -0.534206
2 -0.573278  0.685050  1.502678 -1.595633
3 -0.522293  0.464684  1.059345 -1.171340
4 -0.392538  0.053527  0.620346  0.079472
5  0.064573  0.568494  0.397831 -2.259024

In [ ]:
df2 = pd.DataFrame(data = np.random.randn(6, 4), index = dates, columns=['A','B','C','D'])
df2

                   A         B         C         D
2019-03-01  0.802250 -1.661209 -1.281149  0.797843
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-04 -1.808460  2.291183 -1.337175  1.594260
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-06 -0.074409  0.345120 -0.884855  0.921526

In [ ]:
type(df2)

pandas.core.frame.DataFrame

In [ ]:
df2.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df2.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
in1 = df2.index
in1

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
in1[0]

Timestamp('2019-03-01 00:00:00', freq='D')

In [ ]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
in2 = df.index
in2

RangeIndex(start=0, stop=6, step=1)

In [ ]:
in2[2]
# 리스트를 가지고 만든 여러가지 객체들은 리스트처럼 똑같이 다루어도 크게 문제가 발생하지 않는다.

2

In [ ]:
ts1 = in1[0]
ts1

Timestamp('2019-03-01 00:00:00', freq='D')

In [ ]:
str(ts1)

'2019-03-01 00:00:00'

In [ ]:
df['A']

0   -1.253925
1   -0.110785
2   -0.573278
3   -0.522293
4   -0.392538
5    0.064573
Name: A, dtype: float64

In [ ]:
a = df['A']
a

0   -1.253925
1   -0.110785
2   -0.573278
3   -0.522293
4   -0.392538
5    0.064573
Name: A, dtype: float64

In [ ]:
a[0]

-1.253925463150209

In [ ]:
a[1]

-0.11078489266019682

In [ ]:
df2.values

array([[ 0.80224987, -1.661209  , -1.28114875,  0.79784283],
       [ 0.20296688,  0.36651091, -1.66421555, -0.73673891],
       [ 0.08927913, -1.32198285, -0.69890522, -0.92097407],
       [-1.80846023,  2.29118271, -1.33717502,  1.59425982],
       [-0.23851892,  0.97816719, -0.31887715,  0.29859442],
       [-0.07440894,  0.34511961, -0.88485456,  0.92152642]])

In [ ]:
df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.171149  0.166298 -1.030863  0.325752
std    0.877494  1.469768  0.489090  0.987003
min   -1.808460 -1.661209 -1.664216 -0.920974
25%   -0.197491 -0.905207 -1.323168 -0.477906
50%    0.007435  0.355815 -1.083002  0.548219
75%    0.174545  0.825253 -0.745393  0.890606
max    0.802250  2.291183 -0.318877  1.594260

In [ ]:
df2.sort_index(ascending=True) # 오름차순 정렬)

                   A         B         C         D
2019-03-01  0.802250 -1.661209 -1.281149  0.797843
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-04 -1.808460  2.291183 -1.337175  1.594260
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-06 -0.074409  0.345120 -0.884855  0.921526

In [ ]:
df2.sort_index(ascending=False) # 내림차순 정렬

                   A         B         C         D
2019-03-06 -0.074409  0.345120 -0.884855  0.921526
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-04 -1.808460  2.291183 -1.337175  1.594260
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-01  0.802250 -1.661209 -1.281149  0.797843

In [ ]:
df2.sort_values(by='A') # A를 기준으로 df2 오름차순 정렬

                   A         B         C         D
2019-03-04 -1.808460  2.291183 -1.337175  1.594260
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-06 -0.074409  0.345120 -0.884855  0.921526
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-01  0.802250 -1.661209 -1.281149  0.797843

In [ ]:
df2.sort_values(by='A', ascending=False) # A를 기준으로 df2 내림차순 정렬

                   A         B         C         D
2019-03-01  0.802250 -1.661209 -1.281149  0.797843
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-06 -0.074409  0.345120 -0.884855  0.921526
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-04 -1.808460  2.291183 -1.337175  1.594260

In [ ]:
df2

                   A         B         C         D
2019-03-01  0.802250 -1.661209 -1.281149  0.797843
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-04 -1.808460  2.291183 -1.337175  1.594260
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-06 -0.074409  0.345120 -0.884855  0.921526

In [ ]:
df3 = df2.copy()
df3

                   A         B         C         D
2019-03-01  0.802250 -1.661209 -1.281149  0.797843
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-04 -1.808460  2.291183 -1.337175  1.594260
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-06 -0.074409  0.345120 -0.884855  0.921526

In [ ]:
# df3를 B로 정렬
# df3의 내용을 변경해보자
# 변경된 df3에서 b,c만 추출하여 df4로 저장
# df3의 첫번째 행, 첫번째 열의 값을 1로 수정
# df3에서 0~2행 추출
# df3에서 2019-03-01, A열의 값 추출
# df3에서 2019-03-01, A, B열의 값 추출
# df3에서 A열의 전체 행을 추출
# df3에서 A, C열의 전체 행을 추출
# df3에서 0번 행렬 추출
# df3의 행렬의 크기를 추출
# df3에서 5행 전체 열 추출
# df3에서 4행부터 추출
# df3에서 0, 3행 1열부터 2열까지 추출
# df3에서 1,2,5행, 1,3열 추출

In [ ]:
# df3를 B로 정렬
df3.sort_values(by='B')

                   A         B         C         D
2019-03-01  0.802250 -1.661209 -1.281149  0.797843
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-06 -0.074409  0.345120 -0.884855  0.921526
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-04 -1.808460  2.291183 -1.337175  1.594260

In [ ]:
# df3의 내용을 변경해보자
df3 = df3.sort_values(by='B')
# df3.sort_values(by='B', inplace=True)와 동일
df3

                   A         B         C         D
2019-03-01  0.802250 -1.661209 -1.281149  0.797843
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-06 -0.074409  0.345120 -0.884855  0.921526
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-04 -1.808460  2.291183 -1.337175  1.594260

In [ ]:
# 변경된 df3에서 b,c만 추출하여 df4로 저장
df4 = df3[['B','C']]
df4

                   B         C
2019-03-01 -1.661209 -1.281149
2019-03-03 -1.321983 -0.698905
2019-03-06  0.345120 -0.884855
2019-03-02  0.366511 -1.664216
2019-03-05  0.978167 -0.318877
2019-03-04  2.291183 -1.337175

In [ ]:
# df3의 첫번째 행, 첫번째 열의 값을 1로 수정
df3.iloc[0,0] = 1
df3

                   A         B         C         D
2019-03-01  1.000000 -1.661209 -1.281149  0.797843
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974
2019-03-06 -0.074409  0.345120 -0.884855  0.921526
2019-03-02  0.202967  0.366511 -1.664216 -0.736739
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-04 -1.808460  2.291183 -1.337175  1.594260

In [ ]:
# df3에서 0~2행 추출
df3.iloc[0:2]
# df3.iloc[추출범위행] => 행으로 취급!
# df3.iloc[:,0:2] #df3.iloc[추출범위행, 추출범위열] => 열로 추출 가능!

                   A         B         C         D
2019-03-01  1.000000 -1.661209 -1.281149  0.797843
2019-03-03  0.089279 -1.321983 -0.698905 -0.920974

In [100]:
# df3에서 2019-03-01, A열의 값 추출
df3.loc['2019-03-01','A']

2019-03-01    1.0
Name: A, dtype: float64

In [95]:
# df3에서 2019-03-01, A, B열의 값 추출
df3.iloc[0,0:2]

A    1.000000
B   -1.661209
Name: 2019-03-01 00:00:00, dtype: float64

In [98]:
# df3에서 A열의 전체 행을 추출
df3.loc[:,'A']

2019-03-01    1.000000
2019-03-03    0.089279
2019-03-06   -0.074409
2019-03-02    0.202967
2019-03-05   -0.238519
2019-03-04   -1.808460
Name: A, dtype: float64

In [105]:
# df3에서 A, C열의 전체 행을 추출
df3.loc[:,['A','C']]
# loc, iloc의 결과가 1행인 경우, Series로 리턴
# loc, iloc의 결과가 여러 행인 경우, DataFrame로 리턴

                   A         C
2019-03-01  1.000000 -1.281149
2019-03-03  0.089279 -0.698905
2019-03-06 -0.074409 -0.884855
2019-03-02  0.202967 -1.664216
2019-03-05 -0.238519 -0.318877
2019-03-04 -1.808460 -1.337175

In [114]:
# df3에서 A행을 추출하여 2번째 값 추출 => 결과가 1행인 경우, Series(list처럼 다루면)
df3.loc[:, 'A'][1]

0.08927913304610974

In [164]:
df3.loc[:, 'A'].to_list()

[1.0,
 0.08927913304610974,
 -0.07440893883195883,
 0.20296688419298595,
 -0.23851891927495214,
 -1.8084602307750979]

In [163]:
# df3에서 A행과 C행을 추출하여 1번째 행, 1번째 열의 값을 추출 => 결과가 2행 이상인 경우, DataFrame임(df로 다루면 된다)
df3.loc[:, ['A','C']].iloc[0,0]

1.0

In [132]:
# df3에서 0번 행렬 추출
df3.iloc[0,:]

A    1.000000
B   -1.661209
C   -1.281149
D    0.797843
Name: 2019-03-01 00:00:00, dtype: float64

In [131]:
# df3의 행렬의 크기를 추출
df3.shape

(6, 4)

In [133]:
df3.T

   2019-03-01  2019-03-03  2019-03-06  2019-03-02  2019-03-05  2019-03-04
A    1.000000    0.089279   -0.074409    0.202967   -0.238519   -1.808460
B   -1.661209   -1.321983    0.345120    0.366511    0.978167    2.291183
C   -1.281149   -0.698905   -0.884855   -1.664216   -0.318877   -1.337175
D    0.797843   -0.920974    0.921526   -0.736739    0.298594    1.594260

In [136]:
# df3에서 5행 전체 열 추출
df3.iloc[5]

A   -1.808460
B    2.291183
C   -1.337175
D    1.594260
Name: 2019-03-04 00:00:00, dtype: float64

In [138]:
# df3에서 4행부터 추출
df3.iloc[4:]

                   A         B         C         D
2019-03-05 -0.238519  0.978167 -0.318877  0.298594
2019-03-04 -1.808460  2.291183 -1.337175  1.594260

In [142]:
# df3에서 0, 3행 1열부터 2열까지 추출
df3.iloc[[0, 3],[1, 2]]

                   B         C
2019-03-01 -1.661209 -1.281149
2019-03-02  0.366511 -1.664216

In [145]:
# df3에서 1,2,5행, 1,3열 추출
result1 = df3.iloc[[1,2,5],[1,3]]
result1

                   B         D
2019-03-03 -1.321983 -0.920974
2019-03-06  0.345120  0.921526
2019-03-04  2.291183  1.594260

In [146]:
type(result1)

pandas.core.frame.DataFrame

In [147]:
result1.index

DatetimeIndex(['2019-03-03', '2019-03-06', '2019-03-04'], dtype='datetime64[ns]', freq=None)

In [148]:
list(result1.index)

[Timestamp('2019-03-03 00:00:00'),
 Timestamp('2019-03-06 00:00:00'),
 Timestamp('2019-03-04 00:00:00')]

In [165]:
np.random.randint(20) # 20 안에서 임의의 수 1개를 출력

17

In [166]:
np.random.randint(20)

7

In [177]:
for _ in range(10):
  print(np.random.randint(5)) # 0 ~ 4

2
0
0
1
1
4
3
1
2
0

In [168]:
import random

In [174]:
for _ in range(10):
  print(random.randint(1, 5)) # 1 ~ 5

5
5
1
5
1
1
2
3
3
5