In [1]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [2]:
# 라벨 인코딩할 column이 1개일 경우

In [3]:
계절 = ['봄', '여름', '가을', '겨울']

In [4]:
# df = index + Series들
# Series = index + values(ndarray)

In [5]:
# df에서 하나의 열은 Series

In [6]:
data = pd.Series(계절)
data

0     봄
1    여름
2    가을
3    겨울
dtype: object

In [7]:
encoder = LabelEncoder()

In [8]:
encoder.fit(data) # encoding해줄 데이터를 정리
# 어떤 것을 어떤 번호로 인코딩해야 할 지 정하는 역할
# 가을(0), 겨울(1), 봄(2), 여름(3)

LabelEncoder()

In [9]:
encoder.classes_

array(['가을', '겨울', '봄', '여름'], dtype=object)

In [10]:
encoder.set_params

In [11]:
변환할컬럼 = ['가을', '겨울', '봄', '여름', '여름', '겨울', '봄', '여름', '봄', '여름']

In [12]:
target = pd.Series(변환할컬럼)
target

0    가을
1    겨울
2     봄
3    여름
4    여름
5    겨울
6     봄
7    여름
8     봄
9    여름
dtype: object

In [13]:
target2 = encoder.transform(target)
print(target2, type(target2))

[0 1 2 3 3 1 2 3 2 3] <class 'numpy.ndarray'>

In [14]:
# Inverse : 거꾸로 되돌리다
array1 = [1, 3, 4, 5, 7, 8, 9]
list.reverse(array1)
array1

[9, 8, 7, 5, 4, 3, 1]

In [15]:
target3 = encoder.inverse_transform(target2)
target3

array(['가을', '겨울', '봄', '여름', '여름', '겨울', '봄', '여름', '봄', '여름'],
      dtype=object)

In [16]:
# 라벨 인코딩할 column이 2~3개일 경우

In [17]:
words = ['apple', 'summer', 'summer', 'spring', 'spring']
hobby = ['book', 'run', 'talk', 'coffee', 'song']

In [18]:
df = pd.DataFrame({
    'words' : words,
    'hobby' : hobby
})
df

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [19]:
encoder2 = LabelEncoder()

In [20]:
col = df.columns
col

Index(['words', 'hobby'], dtype='object')

In [21]:
for c in col:
    df[c] = encoder2.fit_transform(df[c])

In [22]:
df

   words  hobby
0      0      0
1      2      2
2      2      4
3      1      1
4      1      3

In [23]:
# 나이(100, 200, 300) : 연속적인 숫자 ==> 라벨인코딩의 대상이 되지 않음
# 나이대(어린이, 성년, 노년) : 연속적인 숫자가 아님 ==> 라벨 인코딩의 대상이 됨, category

In [24]:
# 원핫 인코딩
# 라벨 인코딩: 연속형이 아닌 데이터를 원하는 형태의 숫자로 바꾸어주는 것
#              1) 연속형이 아닌 데이터를 숫자로 변환: LabelEncoder 사용
#                 fit() -- transform() , fit.transform()
#              2) 연속적인 숫자로만 변환하는 경우, 컴퓨터는 연속형 숫자로 오해하여 연산 수행하여
#                 의도치 않은 결과가 나올 수 있다 --> 해당됨을 나타나게 하기 위해
#                 라벨의 갯수만큼 컬럼을 만들어주고 해당되는 라벨에 표시(ex. 1)해주는 방법을 사용 --> 원핫 인코딩

In [25]:
data2 = pd.Series(['apple', 'summer', 'spring', 'summer', 'spring'])
data2

0     apple
1    summer
2    spring
3    summer
4    spring
dtype: object

In [26]:
data2.unique()

array(['apple', 'summer', 'spring'], dtype=object)

In [27]:
pd.get_dummies(data2)

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       1       0
3      0       0       1
4      0       1       0

In [28]:
df2 = pd.DataFrame({"words" : ['apple', 'summer', 'summer', 'spring', 'spring'], 
                    "hobby" : ['book', 'run','talk','coffee','song']})
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [29]:
pd.get_dummies(df2['hobby'])

   book  coffee  run  song  talk
0     1       0    0     0     0
1     0       0    1     0     0
2     0       0    0     0     1
3     0       1    0     0     0
4     0       0    0     1     0

In [30]:
df2.loc[:, ['words','hobby']]

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [31]:
pd.get_dummies(df2.loc[:, ['words','hobby']])

,words_apple,words_spring,words_summer,hobby_book,hobby_coffee,hobby_run,hobby_song,hobby_talk
0,1,0,0,1,0,0,0,0
1,0,0,1,0,0,1,0,0
2,0,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,1,0