In [1]:
# 시계열
# - 고정 빈도(fixed frequency)로 표현
# - 데이터가 존재하는 지점이 15초마다, 5분마다, 
# 한 달에 한 번 같은 특정 규칙에 따라 고정 간격을 가지게 된다
# - 고정된 단위나 시간 혹은 단위들 간의 간격으로 존재하지 않고
# 불규칙적인 모습으로 표현될 수도 있다

In [2]:
# 오늘 날짜 찍기

In [3]:
from datetime import datetime

In [4]:
now = datetime.now()

In [5]:
now

datetime.datetime(2022, 4, 3, 22, 29, 54, 223250)

In [6]:
now.year, now.month, now.day

(2022, 4, 3)

In [7]:
# 두 datetime 간의 시간적인 차이 표시하기

In [8]:
period = now - datetime(2021, 12, 28)
period

datetime.timedelta(days=96, seconds=80994, microseconds=223250)

In [9]:
period.days

96

In [10]:
period.seconds

80994

In [11]:
# timedelta를 더하거나 빼면 그만큼의 시간이 datetime 객체에 적용되어 새로운 객체를 만들 수 있다.

In [12]:
from datetime import timedelta

In [13]:
start = now

In [14]:
start + timedelta(12)

datetime.datetime(2022, 4, 15, 22, 29, 54, 223250)

In [15]:
start - 2 * timedelta(12)

datetime.datetime(2022, 3, 10, 22, 29, 54, 223250)

In [16]:
# 문자열을 datetime으로 변환하기

In [17]:
stamp = now

In [18]:
str(stamp)

'2022-04-03 22:29:54.223250'

In [19]:
value = stamp.strftime('%Y-%m-%d') # %Y : 4자리 연도, %m : 2자리 월, %d : 2자리 일
value

'2022-04-03'

In [20]:
# 문자열을 날짜로 변환하기

In [21]:
datetime.strptime(value, '%Y-%m-%d') # datetime.strptime : 알려진 형식의 날짜를 파싱할 수 있다

datetime.datetime(2022, 4, 3, 0, 0)

In [22]:
datestrs = ['7/6/2011', '8/6/2011']

In [23]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [24]:
# 흔히 쓰는 날짜 형식을 파싱하는 경우 --> dateutil에 포함된 parser.parse 메서드 사용

In [25]:
from dateutil.parser import parse

In [26]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [27]:
parse(value)

datetime.datetime(2022, 4, 3, 0, 0)

In [28]:
# dateutil은 거의 대부분의 사람이 인지하는 날짜 표현 방식을 파싱할 수 있다

In [29]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [30]:
# 국제 로케일의 경우 날짜가 월 앞에 오는 경우가 매우 흔함 --> dayfirst=True 값 주기

In [31]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [32]:
# to_datetime 메서드 : 많은 종류의 날짜 표현 처리

In [33]:
import pandas as pd

In [34]:
datestra = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [35]:
pd.to_datetime(datestra)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [36]:
# 누락된 값(None, 빈 문자열 등)으로 간주되어야 할 값들 처리

In [37]:
idx = pd.to_datetime(datestra + [None])

In [38]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [39]:
idx[2] # NaT : (Not a Time), pandas에서 누락된 타임스탬프 데이터를 나타냄

NaT

In [40]:
pd.isnull(idx)

array([False, False,  True])