## pandas의 categorical

#### 정수 기반의 범주형 데이터를 표현할 수 있다

In [1]:
import pandas as pd
import numpy as np

In [2]:
fruits = ['apple', 'orange', 'apple', 'orange'] * 2

In [3]:
N = len(fruits)

In [7]:
df = pd.DataFrame({
    'fruit' : fruits,
    'basket_id' : np.arange(N),
    'count' : np.random.randint(3, 15, size=N),
    'weight' : np.random.uniform(0, 4, size=N)},
    columns=['basket_id', 'fruit', 'count', 'weight']
)

In [8]:
df

   basket_id   fruit  count    weight
0          0   apple     12  3.231014
1          1  orange      8  0.586595
2          2   apple      8  0.552482
3          3  orange     10  0.031206
4          4   apple      6  3.999058
5          5  orange      6  2.567575
6          6   apple     14  0.429389
7          7  orange      7  0.961543

In [9]:
fruit_cat = df['fruit'].astype('category')

In [10]:
fruit_cat

0     apple
1    orange
2     apple
3    orange
4     apple
5    orange
6     apple
7    orange
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [13]:
c = fruit_cat.values

In [14]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [16]:
c.codes

array([0, 1, 0, 1, 0, 1, 0, 1], dtype=int8)

In [17]:
df['fruit'] = df['fruit'].astype('category')

In [18]:
df.fruit

0     apple
1    orange
2     apple
3    orange
4     apple
5    orange
6     apple
7    orange
Name: fruit, dtype: category
Categories (2, object): [apple, orange]