In [ ]:
# 그룹에 따른 값으로 결측치 채우기

In [ ]:
# 결측치를 값들의 평균으로 채우기

In [3]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series(np.random.randn(6))

In [5]:
s[::2] = np.nan

In [6]:
s

0         NaN
1    2.154581
2         NaN
3   -2.081868
4         NaN
5   -1.573660
dtype: float64

In [7]:
s.fillna(s.mean())

0   -0.500316
1    2.154581
2   -0.500316
3   -2.081868
4   -0.500316
5   -1.573660
dtype: float64

In [8]:
# 그룹별로 채워 넣고 싶은 값이 다른 경우

In [9]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']

In [10]:
group = ['East'] * 4 + ['West'] * 4

In [11]:
data = pd.Series(np.random.randn(8), index = states)

In [12]:
data

Ohio         -0.440102
New York     -1.004334
Vermont      -1.605531
Florida       0.081131
Oregon        1.020295
Nevada       -2.177236
California    1.413014
Idaho        -0.288863
dtype: float64

In [13]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data

Ohio         -0.440102
New York     -1.004334
Vermont            NaN
Florida       0.081131
Oregon        1.020295
Nevada             NaN
California    1.413014
Idaho              NaN
dtype: float64

In [14]:
data.groupby(group).mean()

East   -0.454435
West    1.216654
dtype: float64

In [15]:
# 누락된 값을 그룹의 평균값으로 채우는 경우

In [16]:
fill_mean = lambda g: g.fillna(g.mean())

In [17]:
data.groupby(group).apply(fill_mean)

Ohio         -0.440102
New York     -1.004334
Vermont      -0.454435
Florida       0.081131
Oregon        1.020295
Nevada        1.216654
California    1.413014
Idaho         1.216654
dtype: float64

In [18]:
# 그룹에 따라 미리 정의된 다른 값을 채워 넣는 경우

In [19]:
fill_values = {'East' : 0.5, 'West' : -1}

In [20]:
fill_func = lambda g: g.fillna(fill_values[g.name])

In [21]:
data.groupby(group).apply(fill_func)

Ohio         -0.440102
New York     -1.004334
Vermont       0.500000
Florida       0.081131
Oregon        1.020295
Nevada       -1.000000
California    1.413014
Idaho        -1.000000
dtype: float64