In [1]:
#임의의 데이터 묶음을 cut을 이용하여 등간격 구간으로 나누어보자!

In [2]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.DataFrame({'data1' : np.random.randn(1000),
                     'data2' : np.random.randn(1000)})

In [4]:
frame.describe()

             data1        data2
count  1000.000000  1000.000000
mean     -0.029091    -0.018990
std       0.974896     1.002060
min      -3.078276    -3.356104
25%      -0.709682    -0.696630
50%       0.021831    -0.051032
75%       0.605450     0.654929
max       2.957242     2.885098

In [5]:
# describe 메서드를 호출하면 GroupBy 내부적으로 다음과 같은 단계를 수행한다
# f = lambda x: x.describe()
# grouped.apply(f)

In [6]:
qualities = pd.cut(frame.data1, 4)
qualities[:10]

0     (-0.0605, 1.448]
1     (-0.0605, 1.448]
2    (-1.569, -0.0605]
3     (-0.0605, 1.448]
4     (-0.0605, 1.448]
5     (-0.0605, 1.448]
6     (-0.0605, 1.448]
7     (-0.0605, 1.448]
8       (1.448, 2.957]
9     (-0.0605, 1.448]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.084, -1.569] < (-1.569, -0.0605] < (-0.0605, 1.448] < (1.448, 2.957]]

In [7]:
# cut에서 반환된 Categorical 객체는 바로 groupby로 넘길 수 있다.

In [8]:
def get_stats(group):
    return {'min' : group.min(), 'max' : group.max(),
           'count' : group.count(), 'mean' : group.mean()}

In [9]:
# 등간격 버킷
grouped = frame.data2.groupby(qualities)
grouped.apply(get_stats).unstack()

                   count       max      mean       min
data1
(-3.084, -1.569]    60.0  2.885098  0.028765 -1.872306
(-1.569, -0.0605]  417.0  2.853369 -0.014790 -3.139025
(-0.0605, 1.448]   461.0  2.440426 -0.025827 -3.356104
(1.448, 2.957]      62.0  2.274941 -0.042610 -2.100471

In [10]:
# 변위치 분석
# 변위치 숫자를 변환
grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.885098  0.132765 -3.139025
1      100.0  2.359052  0.023971 -2.186433
2      100.0  2.458464 -0.039308 -2.554052
3      100.0  2.198100 -0.063938 -2.447581
4      100.0  2.717023 -0.041430 -2.069982
5      100.0  2.418723 -0.106313 -2.563505
6      100.0  2.440426  0.025356 -2.031470
7      100.0  2.357946 -0.130981 -3.022676
8      100.0  1.831733 -0.045815 -3.313217
9      100.0  2.274941  0.055795 -3.356104