## KNU 한국어 감성 사전 - 긍정 / 중립 / 부정 분류

데이터 출처: [park1200656/KnuSentiLex](https://github.com/park1200656/KnuSentiLex.git)

## 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
dict = pd.read_excel('../data_list/SentiWord_Dict.xlsx')
dict

        word  score
0      (;_;)     -1
1      (^_^;     -1
2      (-_-)     -1
3      (T_T)     -1
4       (ㅡㅡ)     -1
...      ...    ...
14852     갈등     -1
14853     의혹     -1
14854  내팽개치다     -2
14855     횡령     -2
14856    불안증     -2

[14857 rows x 2 columns]

## 긍정 사전

In [3]:
positive = dict[dict['score'] > 0]
positive

            word  score
9806   가능성이 늘어나다      2
9807    가능성이 있다고      2
9808        가능하다      2
9809    가볍고 상쾌하다      2
9810     가볍고 상쾌한      2
...          ...    ...
14847         득점      2
14848         상위      2
14849        상위권      2
14850        안정감      1
14851      적극적이다      1

[4873 rows x 2 columns]

## 중립 사전

In [4]:
neutrality = dict[dict['score'] == 0]
neutrality

         word  score
14672      :p      0
14673     8-)      0
14674     B-)      0
14675    가까스로      0
14676    가라앉다      0
...       ...    ...
14821   히들거리다      0
14822    히들히들      0
14823  히들히들하다      0
14824     힘쓰다      0
14842  반신반의하다      0

[154 rows x 2 columns]

## 부정 사전

In [5]:
negative = dict[dict['score'] < 0]
negative

        word  score
0      (;_;)     -1
1      (^_^;     -1
2      (-_-)     -1
3      (T_T)     -1
4       (ㅡㅡ)     -1
...      ...    ...
14852     갈등     -1
14853     의혹     -1
14854  내팽개치다     -2
14855     횡령     -2
14856    불안증     -2

[9830 rows x 2 columns]

## 각 사전들의 크기와 내용 확인하기

In [6]:
print(len(positive), len(neutrality), len(negative))

4873 154 9830

In [7]:
positive_dict = positive['word'].values
positive_dict[:5]

array(['가능성이 늘어나다', '가능성이 있다고', '가능하다', '가볍고 상쾌하다', '가볍고 상쾌한'],
      dtype=object)

In [8]:
neutrality_dict = neutrality['word'].values
neutrality_dict[:5]

array([':p', '8-)', 'B-)', '가까스로', '가라앉다'], dtype=object)

In [9]:
negative_dict = negative['word'].values
negative_dict[:5]

array(['(;_;)', '(^_^;', '(-_-)', '(T_T)', '(ㅡㅡ)'], dtype=object)

## 데이터 저장

In [10]:
positive.to_csv('positive_dictionary.csv', header=True, index=False)

In [11]:
negative.to_csv('negative_dictionary.csv', header=True, index=False)